.formacao {
  background: #7a7a7a;
}
.formacao-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.subtitulo .sub-formacao {
  color: #7a7a7a;
  position: relative;
}

.sub-formacao::before {
  content: "";
  width: 160px;
  height: 10px;
  background: url(./img/deco-ret.svg) no-repeat center;
  position: absolute;
  top: 5px;
  left: -30px;
  z-index: 0;
}

.formacao-info-texto {
  max-width: 45ch;
  font-size: 1.5rem;
  padding-bottom: 60px;
  color: #e0e0e0;
}

.formacao-lista {
  display: flex;
  gap: 20px;
}
.formacao-item {
  flex: 1;
  border: 1px solid #424242;
  background: #666666;
  padding: 20px;
}

.formacao-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
  color: #b8b8b8;
  padding-bottom: 12px;
}
.formacao-titulo span {
  font-size: 0.875rem;
  color: #7a7a7a;
}
.formacao-titulo::after {
  content: "";
  width: 24px;
  height: 10px;
  background: url(./img/infinite.svg) no-repeat center;
}

.formacao-item p {
  font-size: 0.875rem;
  color: #e0e0e0;
  padding-bottom: 12px;
  position: relative;
}
.formacao-item p::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #458bbd;
  left: -12px;
  top: 6px;
}

@media (max-width: 500px) {
  .formacao-container {
    grid-template-columns: 1fr;
  }
  .sub-formacao {
    font-size: 2rem;
    max-width: initial;
    text-transform: uppercase;
  }
  .formacao-info-texto {
    font-size: 1rem;
  }
  .formacao-lista {
    flex-direction: column;
  }
  .formacao-item {
    border-radius: 4px;
  }
}
